.kernel.evaluate {
	border: 1px solid @brand-info;
	color: @brand-info;
}

.kernel.waiting {
	border: 1px solid @brand-info;
	color: @brand-info;
}

.kernel.finished {
	border: 1px solid @brand-success;
	color: @brand-success;
}

.kernel.aborted {
	border: 1px solid @brand-warning;
	color: @brand-warning;
}

.kernel.error {
	border: 1px solid @brand-danger;
	color: @brand-danger;
}

.kernel.evaluate, .kernel.waiting, .kernel.finished, .kernel.aborted, .kernel.error {
	text-transform: uppercase;
	font-size: 10px;
	padding: 2px 5px;
	vertical-align: 12%;

	i {
		vertical-align: 11%;
	}
}

.breadcrumb {
	.kernel.evaluate, .kernel.waiting, .kernel.finished, .kernel.aborted, .kernel.error {
		display: none;
	}
}

html .topic {
	.kernel.evaluate {
		color: @brand-info;
	}

	.kernel.waiting {
		color: @brand-info;
	}

	.kernel.finished {
		color: @brand-success;
	}

	.kernel.aborted {
		color: @brand-warning;
	}

	.kernel.error {
		color: @brand-danger;
	}

	.kernel.evaluate .kernel.waiting, .kernel.finished, .kernel.aborted, .kernel.error {
		padding: 2px 8px;
		vertical-align: 21%;
	}
}