package ${package.Controller};

import org.springframework.web.bind.annotation.RequestMapping;
#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
import lombok.AllArgsConstructor;
import io.swagger.v3.oas.annotations.security.SecurityRequirement;
import io.swagger.v3.oas.annotations.tags.Tag;
import ${package.Service}.${table.serviceName};
import org.umbrella.common.util.R;
import org.umbrella.common.util.WebUtils;
import org.springframework.web.bind.annotation.*;
import io.swagger.v3.oas.annotations.Parameter;
import io.swagger.v3.oas.annotations.Parameters;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.media.Schema;
import io.swagger.v3.oas.annotations.media.ArraySchema;
import ${package.Entity}.${table.entityName};
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;
import org.springframework.data.web.PageableDefault;
import org.springframework.validation.annotation.Validated;
import org.umbrella.common.core.validation.AddGroup;
import org.umbrella.common.core.validation.UpdateGroup;
import org.umbrella.common.core.validation.DeleteGroup;

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
@AllArgsConstructor
@SecurityRequirement(name = "Keycloak")
@Tag(name = "${table.comment}模块")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    private final ${table.serviceName} ${table.entityPath}Service;

    @GetMapping("page")
    @Operation(summary = "分页查询${table.comment}")
    @Parameters({
        @Parameter(name = "page", description = "当前页码,默认1开始", schema = @Schema(type = "integer", defaultValue = "1", minimum = "1")),
        @Parameter(name = "size", description = "每页显示记录数,默认10", schema = @Schema(type = "integer", defaultValue = "10", maximum = "100")),
        @Parameter(description = "排序字段格式: 字段名,(asc|desc). 默认按照创建时间倒排序,支持多字段排序."
                , name = "sort"
                , array = @ArraySchema(schema = @Schema(type = "string")))
    })
    public R page(@PageableDefault(page = 1, sort = {"create_time"}, direction = Sort.Direction.DESC) Pageable pageable){
        return R.ok(${table.entityPath}Service.page(WebUtils.getPage(pageable)));
    }

    @GetMapping("{id}")
    @Operation(summary = "根据id查询${table.comment}")
    public R getById(@PathVariable("id") Long id){
        return R.ok(${table.entityPath}Service.getById(id));
    }

    @PostMapping
    @Operation(summary = "新增${table.comment}")
    public R save(@Validated(AddGroup.class) @RequestBody ${table.entityName} ${table.entityPath}){
        return R.ok(${table.entityPath}Service.save(${table.entityPath}));
    }

    @PutMapping
    @Operation(summary = "根据id修改${table.comment}")
    public R updateById(@Validated(UpdateGroup.class) @RequestBody ${table.entityName} ${table.entityPath}){
        return R.ok(${table.entityPath}Service.updateById(${table.entityPath}));
    }

    @DeleteMapping
    @Operation(summary = "根据id删除${table.comment}")
    public R removeById(@Validated(DeleteGroup.class) @RequestBody ${table.entityName} ${table.entityPath}){
        return R.ok(${table.entityPath}Service.removeById(${table.entityPath}));
    }

    @DeleteMapping("{id}")
    @Operation(summary = "根据id删除${table.comment}")
    public R removeById(@PathVariable("id") Long id){
        return R.ok(${table.entityPath}Service.removeById(id));
    }

}
#end
